@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

/*reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
li {
  list-style-type: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: #ff6600;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
/* reset end */

* {
  font-family: 'Noto Sans TC', sans-serif;
  color: #1c1c1c;
  font-weight: normal;
}

#app {
  width: 80%;
  margin: 0 auto;
}

.text-active {
  color: #ff6600;
}

.btn-active {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 100px;
  border-color: #ff6600;
  background-color: #ff6600;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.btn-border {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #ff6600;
  border-radius: 100px;
  color: #ff6600;
}

.menu-text {
  font-size: 1rem;
  font-weight: 700;
}
